body {
 background-color:  #BD64FF;
 font-family:'Times New Roman', Times, serif;
 text-align: center; /* Center-align the entire page content */
 display: flex;
 flex-wrap: wrap;
}
h1 {
 color: black;
 text-align: center;
 width: 100%;
 display: block;
}
h1:hover {
 color: black;
 text-align: center;
 width: 100%;
 display: block;
}
a {
 text-decoration: none;
 color: black;
}
.assign {
 background-color:  #A5AA7B;
 margin: 10px;
 padding: 10px;
 border-radius: 20px;
border-color: #F0FF63;
 width: 20%;
 box-shadow: 8px 8px brown;
 display: block; /* instead of flex */
}
.assign img {
 width: 200px;
 margin: 10px;
 border: 2px solid midnightblue;
}
.assign img:hover {
 width: 200px;
 margin: 10px;
 border: 2px dotted yellow;
