body {
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: black;
    text-align: center;
}

.assign {
    background-color: floralwhite;
    margin: 30px;
    padding: 30px;
    width: 200px;
    display: flex;
}

.assign img {
    width: 300px;
    padding: 10px;
}