body {
    background-color: #BD64FF;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; /* Center-align the entire page content */
    display: flex;
}

h1 {
    color: black;
}
a {
    text-decoration: none;
    color: black;
}

.assign {
    background-color: #A5AA7B;
    display: block;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align the elements horizontally */
    margin: 10px;
    padding: 10px;
    width: 20%;
    max-width: 600px; /* Limit the maximum width of the content */
    border: 5px solid #ccc;
    border-radius: 10px;
    border-color: #F0FF63;
}

.assign img {
    padding: 10px;
    width: 200px;
    max-width: 100%; /* Ensure images don't exceed their container width */
}
